<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="first">
            <h1>Full Stack Calculator</h1>
            <form action="" method="post">
                <input type="number" required placeholder="Enter Num1" name="num1">
                <select name="operator" required>
                    <option value="" disabled selected>Select</option>
                    <option value="add">+</option>
                    <option value="sub">-</option>
                    <option value="mul">x</option>
                    <option value="div">/</option>
                    <option value="modu">%</option>
                </select>
                <input type="number" required placeholder="Enter Num2" name="num2">
                <button type="submit">calculate</button>
            </form>
        </div>
        <div class="second">
            {{output}}
        </div>
    </body>
</html>